:root {
  @media (min-width: 1200px) {
    body > main {
      --block-spacing-vertical: 1.5rem;
    }
  }
}

i {
  display: inline-block !important;
  vertical-align: middle;
}

i.gg-trash {
  vertical-align: initial;
}
